<div class="container mt-5">
    {{#if productos}}
        <div class="row">
            {{#each productos}}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{image}}" class="card-img-top" alt="Imagen de {{ nombre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ nombre }}</h5>
                                <p class="card-text">{{ descripcion }}</p>
                                {{!-- <div class="d-flex justify-content-start align-items-center">
                                    <a href="/edit/{{ id }}" class="btn btn-warning btn-sm me-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Editar
                                    </a>
                                    <a href="/delete/{{ id }}" class="btn btn-danger btn-sm">
                                        <i class="fa-solid fa-trash"></i>
                                        Eliminar
                                    </a>
                                </div> --}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{ else }}
            <div class="card text-center mx-auto">
                <div class="card-header">
                    <h3>No se encontraron productos</h3>
                </div>
                <div class="card-body">
                    <p>No hay productos en esta categoría actualmente.</p>
                    <a href="/add" class="btn btn-primary">Añadir nuevo producto</a>
                </div>
            </div>
        {{/if}}
    </div>
